{% extends 'wlabs/base.html' %}

{% load static %}

{% block content %}

<script src="{% static 'fleet.js'%}" defer></script> 
<link rel="stylesheet" type="text/css" href="{% static 'styles/fleet.css' %}"/>
<h3>Welcome to the fleet edition section</h3>
<div>
    <form action="/fleets/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</div>

<br>

<table id="aircrafts">
    <tr>
        <th>Aircraft</th>
        <th>Approach Speed [kt]</th>
        <th>MTOW [kg]</th>
        <th>Quantity</th>
        <th>Commands</th>
    </tr>
    {% for acft in fleet_aircrafts %}
    <tr>
        <td>{{acft.aircraft.name}}</th>
        <td>{{acft.aircraft.app_speed}}</th>
        <td>{{acft.aircraft.mtow}}</th>
        <td>{{acft.quantity}}</th>
        <td>'commands'</td>
    </tr>
    {% endfor %}
</table> 

{% endblock %}