
#canvasAerop {
  border: 2px solid gray;
  display: block;
  margin: auto;
}

.canvasContainer {
  margin: auto;
  display: block;
  position: relative;
}

.cnvBut {
  position: absolute;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  left: 330px;
}

#cnvBut1 {
  top: 10px;
} 
#cnvBut2 {
  top: 60px;
}
#cnvBut3 {
  top: 110px;
}
