{% extends 'wlabs/base.html' %}

{% load static %}

{% block content %}

<script src="{% static 'geometry/geometry.js'%}" defer></script> 
<link rel="stylesheet" type="text/css" href="{% static 'geometry/geometry.css' %}"/>
<p> Bienvenido a la zona de edición de geometría </p>

<div class="canvasContainer" onload="init()">
<canvas id="canvasAerop" width="1200" height="700">
</canvas>
  <button class="btn btn-default cnvBut" id="cnvBut1" type="button" onclick="buton1()">Add point</button>
  <button class="btn btn-default cnvBut" id="cnvBut2" type="button">Add line</button>
  <button class="btn btn-default cnvBut" id="cnvBut3" type="button">Add rectangle</button>
</div>

{% endblock content%}
