{% extends 'wlabs/base.html' %}

{% load static %}

{% block content %}

<script src="{% static 'simulation.js'%}" defer></script> 
<link rel="stylesheet" type="text/css" href="{% static 'styles/simulation.css' %}"/>
<h3>Welcome to the simulation section</h3>

<main class="container">
    <section class="card card-body d-flex flex-row justify-content-around">

        <div class="container">
            <p>This simplified simulation model considers landig speed at threshold, then UALM from landing speed
                to taxiing speed (20kt), and then uniform speed to exit. UALM is calculated using landing distance
                for each aircraft.</p>
        </div>

        <div class="container">
            <form action="/simulation/" method="post">
                {% csrf_token %}
                <table class="table table-borderless">
                    <tr>
                        <td>{{ config_form.fleet_selector.label_tag }}</td>
                        <td>{{ config_form.fleet_selector }}</td>
                    </tr>
                    <tr>
                        <td>{{ config_form.runway_selector.label_tag }}</td>
                        <td>{{ config_form.runway_selector }}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" class="w-100 btn btn-primary" value="Simulate"></td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="container">
            <table class="table table-borderless">
                <tr>
                    <th colspan="2">RESULTS</th>
                </tr>
                <tr>
                    <td>Average ROT:</td>
                    <td>{{ average_rot }}</td>
                </tr>
                <tr>
                    <td>Arrivals/hr:</td>
                    <td>{{ arrivals_per_hour }}</td>
                </tr>
            </table>
        </div>

    </section>

    <section class="card mt-4 card-body d-flex flex-col align-items-center">
        <p class="fw-bold">DETAILED RESULTS</p>
        <div class="container">
            <table class="table">
                <tr>
                    <th>AIRCRAFT</th>
                    <th>LANDING SPEED [kt]</th>
                    <th>BREAKING TIME [s]</th>
                    <th>TAXIING TIME [s]</th>
                    <th>ROT [s]</th>
                    <th>QUANTITY</th>
                </tr>
                {% for result in general_results %}
                <tr>
                    <td>{{ result.acft }}</td>
                    <td>{{ result.landing_speed }}</td>
                    <td>{{ result.breaking_time }}</td>
                    <td>{{ result.taxiing_time }}</td>
                    <td>{{ result.rot }}</td>
                    <td>{{ result.quantity }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>

</main>

{% endblock %}