{% extends 'wlabs\base.html' %}

{% block content %}

<main class="container mt-5">
    <section class="card card-body">
        <h1 class="text-center">Services</h1>
        <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, minima! Dolorum consequatur maxime minus. Aut, dolorum? Id assumenda qui minima, recusandae quibusdam repellat? Inventore corrupti doloribus possimus cupiditate ex consequuntur eligendi, obcaecati iure quaerat. Delectus, soluta enim? Error, commodi ipsam?
        </p>
    </section>
</main>

{% endblock %}