h2 {
  text-align: center;
  margin: auto;
  background-color: #F9F9F9;
  padding: 50px;
}

#canvasAerop {
  border: 2px solid gray;
  display: block;
  margin: auto;
}

.canvasContainer {
  margin: auto;
  display: block;
  position: relative;
}

.cnvBut {
  position: absolute;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  left: 330px;
}

